@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins";
}
section {
  width: 100%;
  overflow: hidden;
}
.section-frist {
  width: 100%;
  background: #2d25a0;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #2d25a0;
  padding: 16px 0;
  width: 90%;
  margin: 0 auto;
}
.navber a {
  text-decoration: none;
  color: whitesmoke;
  margin: 11px;
  font-size: 20px;
}

.navber a:hover {
  color: aqua;
}

.login:hover {
  background-color: aqua;
  color: #2d25a0;
}

.login {
  background-color: tomato;
  color: aliceblue;
  padding: 10px;
  margin-top: 0em;
  border-radius: 5px;
}

.fas {
  margin-right: 7px;
}

.frist-body {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.title h1 {
  color: white;
  font-size: 55px;
}

.banner {
  width: 40%;
}

.banner img {
  width: 100%;
  height: auto;
}

.button a {
  text-decoration: none;
  color: whitesmoke;
  background-color: violet;
  border-radius: 5px;
  padding: 6px;
}

.button a:hover {
  background-color: aqua;
  color: #2d25a0;
  margin: 0 auto;
}

/* End Section-1 */

/* Star Section-2 */
.section-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 30px auto;
}

.albam {
  width: 31%;
  box-shadow: 0px 0px 40px 0px #00000026;
  padding: 5px 8px;
  min-height: 500px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.albam img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.albam p {
  color: #b3b3b3;
  text-align: justify;
}

.albam:hover {
  background-color: rgb(80, 255, 226);
  color: black;
}

/* End Section-2 */

/* Start Section-3 */

.third-body {
  display: flex;
  width: 80%;
  margin: 50px auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.frist-title {
  width: 60%;
}

.title {
  width: 90%;
}

.title h1 {
  font-size: 35px;
}

#black {
  color: black;
}

#black p {
  color: #b3b3b3;
}

.button a {
  text-decoration: none;
  color: whitesmoke;
  background-color: violet;
  border-radius: 5px;
  padding: 6px;
  font-size: large;
}

/* End Section-3 */

form {
  border: 5px solid #f1f1f1;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 16px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.adders {
  width: 100%;
  height: 0, auto;
  justify-content: center;
}

.full-adderss {
  width: 30%;
  margin: 0 auto;
}

.adders h1 {
  color: darkcyan;
  text-align: center;
}

button {
  background-color: #8ebf42;
  color: white;
  padding: 14px 0;
  margin: 10px 0;
  border: none;
  cursor: grabbing;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.formcontainer {
  margin: 24px 17px 12px;
}

.container {
  padding: 16px 0;
  text-align: left;
}

span.psw {
  float: right;
  padding-top: 0;
  padding-right: 15px;
}

/* Star footer */
.footer-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.logu img {
  width: 94%;
  margin: 0 auto;
}

.icon {
  display: flex;
  justify-content: center;
}

.icon i {
  margin-right: 14px;
}

.fab:hover {
  color: darkcyan;
}
/* End footer */

/* responsive Web site */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .albam {
    width: 46%;
  }

  .frist-title {
    width: 50%;
  }

  .banner {
    width: 50%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .albam {
    width: 46%;
  }

  .frist-title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .banner {
    width: 100%;
    text-align: center;
  }
  .full-adderss {
    width: 100%;
  }
}

@media only screen and (min-width: 301px) and (max-width: 575px) {
  .albam {
    width: 100%;
  }

  .frist-title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .banner {
    width: 100%;
    text-align: center;
  }
  .full-adderss {
    width: 100%;
  }
}
